// Colors
$colorLightGray: #999;
$colorGray: #333;
$colorDarkGray: #111;
$colorWhite: #fff;
$colorOffWhite: #eee;
$colorBlack: #000;

$colorLightYellow: #f4d03f;
$colorYellow: #f1c40f;
$colorDarkYellow: #c29d0b;

$colorRed: #e74c3c;

$colorGreen: #2ecc71;

$colorLightBlue: #3e5771;
$colorBlue: #2c3e50;
$colorDarkBlue: #1a252f;

// Font Sizes
$defaultFontSize: 1.6rem;

// Spacing
$mp-lg: 12rem;
$mp-med: 8rem;
$mp-sm: 6rem;

// Grid
$grid-width: 90rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
